:root {
    --height-list-choice-category: 100px;
}

.menu-options-m {
    margin-left: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-options-m .menu-options-icon-m i{
    font-size: 26px;
    color: #000;
}


.menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}
.menu-t-b{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    overflow-y: auto;
}

.header-t-b{
    background-color: var(--primary-color);
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title-menu-t-b{
    color: var(--white-color);
    margin: 0;
    line-height: 80px;
    justify-content: center;
    text-transform: capitalize;
}

.icon-t-b{
    display: inline-block;
    width: 0;
}



.icon-arrow-left {
    color: var(--white-color);
    padding: 20px;
    font-size: 40px;
    cursor: pointer;
}


.container-menu-t-b {
    display: flex;
}

.menu-category-t-b {
    width: var(--height-list-choice-category);
}

.block-item{
    display: flex;
    /* padding: 8px 0; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-item img{
    width: 36px;
    height: 36px;
}
.title-item {
    text-align: center;
}
.list-choice-category{
    display: flex;
    background-color: #F7F9FA;
    margin-top: 4px;
    border-radius: 10px;
}

.list-choice-category:first-child {
    margin-top: 0;
}
.list-choice-category > div:last-of-type {
    padding: 16px 2px;
    width: calc(100% - 3px);
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #1C1C1C;
}

.list-choice-category > div:first-of-type > hh{
    width: 100%;
    height: 0;
    background-color: #F7F9FA;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.list-choice-category > div:first-of-type{
    width: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-menu-content-t-b {
    width: calc(100% - var(--height-list-choice-category));
    
}

.container-menu-content-items {

}

.row-container-content-items {
    margin-top: 16px;
    display: none;
}

.col-container-content-items{
    
}

.col-container-content-items a > div {
    width: 24%;
   display: flex;
   align-items: center;
   
}

.col-container-content-items > a{
    text-decoration: none;
    background-color: #dfdfdf;
    border-radius: 20px;
    padding: 12px 0px;
    margin: 12px 14px;
    display: flex;
}

.img-content-item{
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 60%;
    
}

.text-content-item{
    margin-left: 4px;
    font-size: 20px;
    color: #000;
}

.active-tb{
    display: block !important;
}

.active-menu div{
    color: red;
}

.list-choice-category.active-menu > div:first-of-type > hh{
    height: 100%;
    background-color: var(--primary-color);
}


.introduct-company-t-b {
    padding: 12px 40px;
}

.title-company-t-b{
    font-size: 24px;
    margin: 0 0 12px 0px;
    /* text-align: center; */
}

.description-company-t-b{
    background-color: #e5e5e5;
    font-size: 24px;
    text-align: justify;
    padding: 20px;
    border-radius: 11px;
    margin: 8px 0 20px 0;
}

.about-us-t-b .view-more-t-b {
    text-decoration: none;
    font-size: 20px;
    padding: 20px 28px;
    background-color: #000;
    color: var(--white-color);
    display: inline-block;
    text-align: center;
    border-radius: 16px;
}
.info-company-t-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 12px;
    background-color: #dfdfdf;
    border-radius: 12px;
    margin: 0 12px;
}
.form-company-t-b{
    padding: 2px;
    display: flex;
    
}
.info-company-t-b h3 {
    margin: 16px 0 3px 0;
}

.email-t-b,
.location-t-b,
.phone-t-b {
    font-size: 40px;
}

.email-info-t-b,
.phone-info-t-b,    
.address-info-t-b {
    margin: 8px 0 0 0;
    text-align: center;
    font-size: 20px;
}

.email-info-t-b,
.phone-info-t-b,
.address-info-t-b:last-child{
    margin-bottom: 0;
}

.form-contact-company-t-b {
    margin: 12px;
}

.title-message-t-b{
    font-size: 27px;
    margin: 22px 0 0 0;
}

.description-message-t-b{
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 24px;
    margin: 12px 0 0 0;
}

.form-message-to-company {
    margin-top: 12px;
}

.form-send-company {
    margin-top: 10px;
}

.form-control-t-b {
    width: 100%;
    height: 100%;
    padding: 22px 15px;
    outline: none;
    border: none;
    background-color: #dfdfdf;
    border-radius: 10px;
    font-size: 22px;
    line-height: 22px;
    
}

.message-box-t-b {
    min-height: 180px;
    padding: 15px;
    overflow-y: visible;
    resize: none;
}

.send-form-t-b {
    margin-top: 12px;
}

.send-btn-t-b {
    float: right;
    outline: none;
    background-color: #000;
    padding: 18px 38px;
    font-size: 26px;
    color: #fff;
    border: none;
    border-radius: 6px;
}

.openmenu-t-b {
    animation: slideMenu .2s;
    display: block !important;
}

