.background-product {
    background-color: rgba(214, 64, 31, .1);
}

.container-product {
    background-color: rgba(214, 64, 31, .1);
    margin-top: 6px;
    padding-bottom: 20px;
}

.wrap-product {
    width: 1140px;
    margin: 0 auto;
}

.row-product-item {
    display: flex;
    padding: 20px 0;
}

.col-product-image {
    padding: 12px;
    width: 33.33333%;
}

.col-product>a {
    display: block;
}

.img-product {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.col-info-product {
    width: calc(100% - 33.33333%);
    padding: 12px;
}

.icon-tag-price {
    font-size: 20px;
    color: var(--primary-color);
}

.wrap-tag-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 2px;
    padding-bottom: 8px;
}

.icon-tag {
    margin-right: 12px;
}

.post-info__terms-list-item {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

.tag-product-info {
    width: 100%;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #ad3838;
    margin-bottom: 20px;
}

.container-heading-title-product {}

.heading-title-product {
    text-transform: capitalize;
    letter-spacing: 0.6px;
}

.heading-title-product a {
    color: #000;
    text-decoration: none;
}

.price-product {
    font-size: 20px;
}

.price-product>span {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 26px;
    margin-left: 4px;
}

.container-boxed-info-product {
    margin-top: 20px;
}

.row-boxed-info-product {
    display: flex;
}

.container-boxed-info-product :is(.author-container-info-product span,
    .illustrator-container-info-product span,
    .translator-container-info-product span,
    .size-container-info-product span,
    .cover-book-container-info-product span,
    .number-of-pages-container-info-product span,
    .ISBN-container-info-product span,
    .release-container-info-product span,
    .year-container-info-product span) {
    color: var(--primary-color);
    font-weight: 600;
}

.container-boxed-info-product :is(.author-container-info-product b,
    .illustrator-container-info-product b,
    .translator-container-info-product b,
    .size-container-info-product b,
    .cover-book-container-info-product b,
    .number-of-pages-container-info-product b,
    .ISBN-container-info-product b,
    .release-container-info-product b,
    .year-container-info-product b) {
    font-weight: 400;
}

.col-boxed-info-product {
    width: 50%;
}

.number-of-pages-container-info-product,
.ISBN-container-info-product,
.release-container-info-product,
.year-container-info-product,
.cover-book-container-info-product,
.size-container-info-product,
.author-container-info-product,
.illustrator-container-info-product,
.translator-container-info-product {
    font-size: 17px;

}


.ISBN-container-info-product,
.release-container-info-product,
.year-container-info-product,
.cover-book-container-info-product,
.size-container-info-product,
.translator-container-info-product,
.illustrator-container-info-product {
    margin-top: 20px;
}

.gift-container {
    margin-top: 26px;
}

.wrap-gift-container {}

.row-gift-container {
    display: flex;
    align-items: stretch;
}

.col-gift-container {
    width: 20%;
}

.wrap-gift-btn h3 {
    margin: 0;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.wrap-gift-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.col-description-gift-container {
    width: 80%;
    border-style: dashed;
    border-width: 1px 1px 1px 1px;
    border-color: var(--primary-color);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.wrap-text-gift {
    padding: 15px;

}

.wrap-text-gift b {
    font-weight: 400;
}

.share-container {
    margin-top: 20px;
}

.icon-share-container ul{
    list-style: none;
    margin: 0;
    display: flex;
    padding-left: 14px;
}

.row-share-container {
    display: flex;
    align-items: center;
}
.social-link-btn i{
    font-size: 22px;
}

.social-link-btn a{
    display: inline-block;
    text-decoration: none;
    height: 40px;
	width: 40px;
    margin: 0 10px 0 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
    background-color: rgba(255,255,255,1);
	transition: all 0.5s ease;
}
.options-product {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.row-options-product{
    display: flex;
}

.col-options-product{
    width: 50%;
}

.wrap-option-product{

}
.btn-link-option {
    display: block;
    text-decoration: none;
    padding: 18px;
    margin: 0 6px;
    background-color: var(--primary-color);
    border-radius: 10px;
}
.btn-text-option{
    color: var(--white-color);
    display: block;
    text-align: center;
    font-size: 16px;
}

.btn-link-option:hover{
    filter: brightness(1.1);
}

.introduct-product{
    margin-top: 20px;
}

.introduct-product-container {
    border-style: dashed;
    border-width: 1px 1px 1px 1px;
    border-color: var(--primary-color);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    
}

.wrap-introduct-container {
    padding: 20px;
}

.heading-introduct-product {
    margin-bottom: 12px;
}
.text-heading-introduct {
    margin: 0;
    text-align: center;
    color: var(--primary-color);
}

.text-editor h2{
    font-size: 18px;
}

.text-editor p{
    text-align: justify;
    line-height: 40px;
    margin-bottom: 0;
}

.wrap-img{
    position: relative;
}