@import url(./base.css);
@import url(./animation.css);
#loading {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255) url(../../img/loading/loading.gif) no-repeat
    center center;
  background-size: 15%;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s, visibility 0.75s;
}

#loading::after {
  content: "Loading...";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.4px;
  color: #000000;
  position: absolute;
  top: 60%;
  left: calc(50% - 32px);
  transform: translateX(50%);
  transform: translateY(50%);
}

.loading-hidden {
  opacity: 0;
  transition: opacity 0.9s ease-in;
  visibility: hidden;
}
